@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Slab:wght@100&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;

}

.imagendiv{
flex-wrap: wrap;
    width: 100%;
    height: 55vh;
    object-fit: cover;

}
.tuitui{
    position: absolute;
    top: 450px;
    color: white;
    font-size: 50px ;
    right: 485px;
    letter-spacing: 1px;
    flex-wrap: wrap;
}

#imagenfondo{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

body {
    background: white;
}

.titulo {
    text-align: center;
    background: lightslategrey;
    color: black;
    padding: 25px;
    font-family: "PT Serif";
    font-size: 35px;
    display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.txtdefinicion {
    background-color: transparent;
    color: #333;
    font-size: 25px;
    padding: 20px 20px;
    text-align: justify;
    flex-wrap: wrap;
}

.txtdefinicion {
display: flex;
justify-content: space-between;
gap: 5px;
flex-wrap: wrap;
}

.txtdefinicion img{
    width: 30vw;
    margin: 0 10px;

}

.navbar ul {
display: flex;
list-style: none;
gap: 19px ;
flex-wrap: wrap;

}

.navbar ul li a{
text-decoration: none;
color: aqua;
cursor: zoom-in;

}




@media(max-width:600px) {
    body {
        background-color: grey;
    }

.navbar ul {
    flex-direction: column;
top: 0;
right:  0;
bottom: 0;

}


    #imagenfondo {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        object-fit: cover;

    }

    .titulo {
        font-size: 15px;
        text-align: center;
        background: black;
        color: aqua;
    }
}

@media(min-width:800px) {
    body {
        background-color: cadetblue;
    }

    .titulo {
        font-size: 30px;
        text-align: center;
    }
    

}