@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&family=PT+Serif:wght@400;700&family=Roboto+Slab:wght@100&family=Young+Serif&display=swap');

*{
    padding: 0px;
    margin: 0px;

}
 body{
    background-color: beige;
    
 }



.casita{
    display: flex;
background-color: black;
flex-wrap: wrap;
}
.en_flex img{
    width: 75%;
    height: 30%;
}
.txt1{
    color: black;
}

.img22{
    width: 30vw;
    height: 30vw;
    
}
.titulo {
    text-align: center;
    background: lightslategrey;
    color: black;
    padding: 25px;
    font-family: "PT Serif";
    font-size: 35px;
    display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
.titulo {
    font-size: 15px;
    text-align: center;
    background: black;
    color: aqua;
}
.titulo h1{
    text-align: center;

}


.navbar ul {
    display: flex;
    list-style: none;
    gap: 19px ;
    flex-wrap: wrap;
    
    }


    .navbar ul li a{
        text-decoration: none;
        color: aqua;
        cursor: zoom-in;
        flex-wrap: wrap;
        }
          
        

.titulo {
    font-size: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img22 img{
    width: 100%;
    height: 100%;
}

.mexicotxt{
    font-size: 20px;
    background-color: white;
    padding: 15px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.en_felx2{
    margin: 15px;
padding: 15px;
flex-wrap: wrap;
color: green;
}

.en_flex{
    margin: 10px;
    flex: 1;
    min-width: 260px;
font-size: 30px;
font-family: fantasy ;
}



.en_flex :first-child{
    flex: 2;
    padding: 25px;
    background-color: white;
    margin: 20px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.en_flex div{
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
  .Contacto a{
background-color: beige;
color: black;
font-size: 30px;
gap: 25px;

  }
  


